In [3]:
def operations_on_complex(a,b):
  print('Addition result', a+b)
  print('Subtraction_result', a-b)
  try:
    print('Division result', a/b)
  except:
    print("Division error")
  print('Multiplication result', a*b)
  try :
    print(a%b)
  except:
    print("Modulo division error")
  try:
    print(a//b)
  except:
    print("Floor division error")

In [4]:
a = 2+3j
b = 3+5j
operations_on_complex(a,b)

Addition result (5+8j)
Subtraction_result (-1-2j)
Division result (0.6176470588235294-0.02941176470588238j)
Multiplication result (-9+19j)
Modulo division error
Floor division error

# range() function in python
This function takes in one parameter viz., int

This function returns list of numbers ranging from the zero to the (parameter-1)

eg: range(100) returns list of numbers from 0-99

In [5]:
def subtraction(a,b):
  c = a-b
  if a>25:
    print(a*b)
  else:
    print(a/b)

In [6]:
subtraction(2,3)

0.6666666666666666

In [7]:
list = [1,2,4,5,5,6,6,7,9,19]
for i in list:
  if i%2==0:
    print(i**2-2)

2
14
34
34

In [13]:
list1 = [1,2,4,5,6,7,8,9,10,16]
for i in list1:
  if (i>7)&(i%2==0):
    print(i)

8
10
16